#Background{
    background-color: lightpink;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 20px;

}

#Products {
    font-size: 30px;
}

#Create{
    margin: 20px;
}

