#Background{
    background-color: lightpink;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 200px;

}

