#container {
    display: flex;
    flex-direction: column;
    max-width: 200px;

}

.input-container{
    margin: 12px;
}

#background{
    background-color: lightgrey;
}

h1{
    position: relative;
    left: 700px;
}

h2{
    position: relative;
    top: 260px;
}